---
import Navigation from "../layouts/Navigation.astro";
---

<Navigation title="title">
	
  <div class="hero bg-base-100" style="min-height: 80vh;">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img
        src="img/server.svg"
        class="max-w-sm pt-8 md:pt-0 ease-in-out hover:scale-105 duration-300"
      />
      <div>
        <h1 class="text-2xl md:text-4xl lg:text-6xl font-bold">
          L'hébergeur brillant comme le diamant
        </h1>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
          id nisi.
        </p>
        <a class="btn btn-primary">Découvrez nos offres</a>
      </div>
    </div>
  </div>

  <div
    class="gap-y-20 mt-10 lg:mt-0 lg:gap-y-0 grid grid-cols-1 lg:grid-cols-3 gap-4 place-items-center py-4 container mx-auto"
    style="min-height: 66vh;">
    <div class="card w-96 bg-neutral text-neutral-content lg:h-4/6">
      <div class="card-body items-center text-center">
        <img
          src="img/icon/web.png"
          class="w-20 h-20 -translate-y-20 absolute"
        />
        <h2 class="card-title pt-4">Site Lite</h2>
        <div class="badge badge-primary">Offre la moin chère</div>
        <p>
          <i class="fa-solid fa-floppy-disk"></i> 3Go <br />
          <i class="fa-solid fa-database"></i> 2 Base de données <br />
          <i class="fa-solid fa-table-columns"></i> 3 Sites<br />
          <i class="fa-solid fa-at"></i> Comptes mails Illimités
        </p>
        <p class="font-bold">1,99 € / Mensuel</p>
        <div class="card-actions justify-end">
          <a
            href="https://manager.diamond-heberg.fr/store/web"
            class="btn btn-ghost">Acheter</a
          >
        </div>
      </div>
    </div>

    <div class="card w-96 bg-neutral text-neutral-content lg:h-5/6">
      <div class="card-body items-center text-center">
        <img
          src="img/icon/iron.png"
          class="w-20 h-20 rounded -translate-y-20 absolute"
        />
        <h2 class="card-title text-2xl pt-4">Iron</h2>
        <div class="badge badge-warning">Offre recomandé</div>
        <p class="py-2 text-lg">
          <i class="fa-solid fa-microchip"></i> 4VCore CPU <br />
          <i class="fa-solid fa-memory"></i> 8Go Ram <br />
          <i class="fa-solid fa-floppy-disk"></i> 35Go <br />
          <i class="fa-solid fa-database"></i> 2 Base de données <br />
          <i class="fa-solid fa-cloud-arrow-down"></i> 1 Backup
        </p>
        <p class="font-bold">4,99 € / Mensuel</p>
        <div class="card-actions justify-end">
          <a
            href="https://manager.diamond-heberg.fr/store/jeux/minecraft"
            class="btn btn-primary">Acheter</a
          >
        </div>
      </div>
    </div>

    <div class="card w-96 bg-neutral text-neutral-content lg:h-4/6">
      <div class="card-body items-center text-center">
        <img src="img/icon/js.png" class="w-20 h-20 -translate-y-20 absolute" />
        <h2 class="card-title pt-4">Offre Développeur</h2>
        <div class="badge badge-primary">DEV+</div>
        <p>
          <i class="fa-solid fa-code"></i> Serveur Node.js, python, go...
        </p>
        <p class="font-bold">4,99 € / Mensuel</p>
        <div class="card-actions justify-end">
          <a
            href="https://manager.diamond-heberg.fr/store/dev"
            class="btn btn-ghost">Accept</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- div class="items-center">
      <a
        class="mt-8 transition-colors ease-in-out hover:scale-105 ease-in-out duration-300 mx-4 btn text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br">
        Je suis swag
      </a>
    </div -->

  <div class="pt-20 bg-neutral">
    <h1 class="text-center font-bold text-4xl">Notre Equipe</h1>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 place-items-center py-4 container mx-auto">
      <div class="card w-96 px-10">
        <div class="card-body items-center text-center">
          <img
            src="img/avatar/funa-diamond.png"
            class="w-32 h-32 object-cover object-bottom rounded-lg transition ease-in-out hover:scale-105 duration-300"
          />
          <h2 class="card-title">Fuansitien</h2>
          <p>
            <i class="fa-solid fa-square-envelope"></i>
            funasitien@diamond-heberg.fr
          </p>
          <div>
            <div class="badge badge-primary">Développeur</div>
            <div class="badge badge-primary">Graphiste</div>
          </div>
        </div>
      </div>

      <div class="card w-96 px-10">
        <div class="card-body items-center text-center">
          <img
            src="img/avatar/jeanmessiha.gif"
            class="w-32 h-32 object-cover object-bottom rounded-lg ease-in-out hover:scale-105 duration-300"
          />
          <h2 class="card-title">Aaron | Lucifiss</h2>
          <p>
            <i class="fa-solid fa-square-envelope"></i>
            lucifiss@diamond-heberg.fr
          </p>
          <div>
            <div class="badge badge-primary">Sys. Admin</div>
            <div class="badge badge-primary">Président</div>
          </div>
        </div>
      </div>

      <div class="card w-96 px-10">
        <div class="card-body items-center text-center">
          <img
            src="img/avatar/dragon-diamond.png"
            class="w-32 h-32 object-cover object-bottom rounded-lg ease-in-out hover:scale-105 duration-300"
          />
          <h2 class="card-title">Olivier | 2VI_Dragon</h2>
          <p>
            <i class="fa-solid fa-square-envelope"></i>
            2vi_dragon@diamond-heberg.fr
          </p>
          <div>
            <div class="badge badge-primary">Fondateur</div>
            <div class="badge badge-primary">Président</div>
          </div>
        </div>
      </div>

      <div class="card w-96 px-10">
        <div class="card-body items-center text-center">
          <img
            src="img/avatar/nehylae.png"
            class="w-32 h-32 object-cover object-bottom rounded-lg ease-in-out hover:scale-105 duration-300"
          />
          <h2 class="card-title">Nehylae</h2>
          <p>
            <i class="fa-solid fa-square-envelope"></i>
            nehylae@diamond-heberg.fr
          </p>
          <div>
            <div class="badge badge-primary">Secrétaire</div>
            <div class="badge badge-primary">Staff</div>
          </div>
        </div>
      </div>
    </div>
    <h1 class="py-5 text-center font-bold text-4xl">Payements Supportés</h1>
  </div>

  <div
    class="bg-neutral grid lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-1 place-items-center py-8 gap-y-8">
    <img
      class="h-16 w-auto transition-all duration-300 rounded-lg cursor-pointer filter grayscale hover:scale-105 hover:grayscale-0"
      src="img/paypal.png"
      alt="Logo Paypal"
    />
    <img
      class="h-16 w-auto transition-all duration-300 rounded-lg cursor-pointer filter grayscale hover:scale-105 hover:grayscale-0"
      src="img/visa.webp"
      alt="Logo Visa"
    />
    <img
      class="h-16 w-auto transition-all duration-300 rounded-lg cursor-pointer filter grayscale hover:scale-105 hover:grayscale-0"
      src="img/mastercard.png"
      alt="Logo MasterCard"
    />
    <img
      class="h-16 w-auto transition-all duration-300 rounded-lg cursor-pointer filter grayscale hover:scale-105 hover:grayscale-0"
      src="img/paysafecardpng.png"
      alt="Logo Paysafecard"
    />
    <img
      class="h-16 w-auto transition-all duration-300 rounded-lg cursor-pointer filter grayscale hover:scale-105 hover:grayscale-0"
      src="img/dedipass.png"
      alt="Logo Dedipass"
    />
  </div>

  <div class="p-10 bg-base-100 text-center align-items-center">
    <h1 class="pt-2 font-bold text-4xl">
      Découvrez l'hébergement haut de gamme.
    </h1>
    <p class="pt-4">Acheter un serveur dès maintenant !</p>
    <a
      href="https://manager.diamond-heberg.fr"
      target="_blank"
      class="mt-8 transition-colors hover:scale-105 ease-in-out duration-300 mx-4 btn text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br">
      Découvrez nos offres
    </a>
  </div>

</Navigation>
