<footer class="footer p-8 bg-base-200 text-base-content">
  <aside class="">
    <div class="w-20 hover:scale-105 duration-300">
      <svg
        class="supersvg"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 175 136"
        enable-background="new 0 0 512 512"
        xml:space="preserve">
        <defs>
          <linearGradient id="gradient" gradientUnits="userSpaceOnUse" fy="90%">
            <stop offset="0" stop-color="oklch(var(--nc))"></stop>
            <!-- Colors to transition from -->
            <stop offset="1" stop-color="oklch(var(--nc))"></stop>
          </linearGradient>
          <mask
            id="clock-icon-mask"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="256"
            height="256">
            <path
              d="M2 42h170M7 49l73 79c4 4 10 4 14 0l73-79c4-4 4-9 1-13L147 8c-1-2-4-4-8-4H35c-3 0-6 2-8 4L7 36c-3 4-3 9 0 13Zm78 81L51 42"
              stroke="white"
              stroke-width="8"></path>
            <path
              d="M138 23H56m-16 0h-1"
              stroke="white"
              stroke-width="10"
              stroke-linecap="round"></path>
            <path d="m89 132 34-90" stroke="white" stroke-width="8"></path>
          </mask>
        </defs>
        <g mask="url(#clock-icon-mask)">
          <rect x="0" y="0" width="512" height="512" fill="url(#gradient)"
          ></rect>
        </g>
      </svg>
    </div>
    <p></p>
    <p class="p-2 font-extrabold text-2xl">DIAMOND HEBERG</p>
    <p class="p-2 font-normal">L'hébergeur brillant comme le diamant</p>
  </aside>
  <nav>
    <header class="footer-title inline-block">Retrouvez nous sur</header>
    <a
      class="link link-hover"
      href="https://twitter.com/DiamondHeberg"
      target="_blank"><i class="fa-brands fa-x-twitter"></i> X/Twitter</a
    >
    <a
      class="link link-hover"
      href="https://instagram.com/diamondheberg"
      target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a
    >
    <a
      class="link link-hover"
      href="https://www.tiktok.com/@diamondheberg"
      target="_blank"><i class="fa-brands fa-tiktok"></i> Tiktok</a
    >
    <a
      class="link link-hover"
      href="https://youtube.com/@diamondheberg3236"
      target="_blank"><i class="fa-brands fa-youtube"></i> Youtube</a
    >
  </nav>
  <nav>
    <header class="footer-title">Contacts</header>
    <a class="link link-hover"
      ><i class="fa-solid fa-phone"></i> +33 7 50 29 48 45</a
    >
    <a class="link link-hover"
      ><i class="fa-solid fa-envelope"></i> contact@diamond-heberg.fr</a
    >
    <a
      class="link link-hover"
      href="https://discord.com/invite/9HqYmuN4Fy"
      target="_blank"><i class="fa-brands fa-discord"></i> Discord</a
    >
  </nav>
  <nav>
    <header class="footer-title">Adresse</header>
    <a class="link link-hover">51 Chemin des houx</a>
    <a class="link link-hover">27500 Corneville-Sur-Risle,</a>
    <a class="link link-hover">France</a>
  </nav>
</footer>
