@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&family=Work+Sans:wght@500&display=swap');

.Poppins {
    font-family: 'Poppins', sans-serif;
}

stop {
    transition: .4s ease;
}

/* Use the colors to transition to */
.supersvg:hover stop:first-child {
    stop-color: #22d3ee;
}

.supersvg:hover stop:last-child {
    stop-color: #0891b2;
}