---
const { title } = Astro.props;
---

<html class="Poppins" data-theme="diamondblack">
  <head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <link href="img/badge.png" rel="icon" />
    <title>{title}</title>

    <!-- Primary Meta Tags -->
    <title>Diamond Heberg - L'hébergeur brillant comme le diamant</title>
    <meta
      name="title"
      content="Diamond Heberg - L'hébergeur brillant comme le diamant"
    />
    <meta
      name="description"
      content="Découvrez Diamond Heberg, une platforme d'hébergement tout-en un qui peu héberger tout vos projets, et même encore plus !"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://diamond-heberg.github.io" />
    <meta
      property="og:title"
      content="Diamond Heberg - L'hébergeur brillant comme le diamant"
    />
    <meta
      property="og:description"
      content="Découvrez Diamond Heberg, une platforme d'hébergement tout-en un qui peu héberger tout vos projets, et même encore plus !"
    />
    <meta
      property="og:image"
      content="https://diamond-heberg.github.io/img/logo.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://diamond-heberg.github.io" />
    <meta
      property="twitter:title"
      content="Diamond Heberg - L'hébergeur brillant comme le diamant"
    />
    <meta
      property="twitter:description"
      content="Découvrez Diamond Heberg, une platforme d'hébergement tout-en un qui peu héberger tout vos projets, et même encore plus !"
    />
    <meta
      property="twitter:image"
      content="https://diamond-heberg.github.io/img/logo.png"
    />
  </head>

  <slot />


</html>
